# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# ignore all `.out` and `.swp` files
*.out
*.swp

### Above combination will ignore all files without extension ###
.vscode/